* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

html{
    overflow:auto;
}

body{
    background-image: url(pictures/pic.jpg);        background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

header{
    text-align:center;
    font-size: 40px;
    padding:1.5rem;


}
h3{
    text-decoration:underline;
   
}

.main-container{
    display:flex;
}

.budget-container{
    display:flex;
    justify-content: space-evenly;
}






