    * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    background-image: url(pictures/pic.jpg);        background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow:hidden;
}

header{
    text-align:center;
    font-size: 40px;
    padding:1.5rem;


}
h3{
    text-decoration:underline;
}

.main-container{
    display:flex;
}

.budget-container{
    display:flex;
    justify-content: space-evenly;
}

/*Media queries*/

@media (min-width: 320px) {
    body{
        background-image: url(pictures/pic.jpg);        background-repeat:no-repeat;
        background-size: cover;
        background-position: center center;
        overflow:hidden;
       
    }

    header{
        text-align:center;
        font-size: 20px;
        padding:1.5rem;
        opacity:0.5;
    }

    h3{
        text-decoration:underline;
    }

    .main-container{
        display:flex;
        justify-content:center;
    }


   .btn-container{
       display:flex;
       justify-content: center;
       margin:1rem;
   }

   .add-btn{
       margin:0.2rem;
       
   }
   .clear-btn{
       margin:0.2rem;
   
   }

    .budget-container{
        display:flex;
        justify-content: space-evenly;
       padding:0.5rem;
        
    }

    #operator{
        margin:0.2rem;
    
    }

    #description{
        margin:0.2rem;
        width:100px; 
    }

    #value{
        margin:0.2rem;
        width:100px; 
    }

}


@media (min-width:769px){
    body{
        background-image: url(pictures/pic.jpg);        background-repeat:no-repeat;
        background-size: cover;
        background-position: center center;
        overflow:hidden;
       
    }
    header{
        text-align:center;
        font-size: 20px;
        padding:1.5rem

    }
    h3{
        text-decoration:underline;
    }

    .main-container{
        display:flex;
        justify-content:center;
    }


   .btn-container{
       display:flex;
       justify-content: center;
       margin:1rem;
   }
   
   .add-btn{
       margin:0.2rem;
       
   }
   .clear-btn{
       margin:0.2rem;
       
   }

    .budget-container{
        display:flex;
        justify-content: space-evenly;
       padding:0.5rem;
        
    }

    #operator{
        margin:0.2rem;
    
    }

    #description{
        margin:0.2rem;
        width:100px; 
    }

    #value{
        margin:0.2rem;
        width:100px; 
    }

}

@media (min-width:1025px){

    body{
        background-image: url(pictures/pic.jpg);        background-repeat:no-repeat;
        background-size: cover;
        background-position: center center;
        overflow:hidden;
       
    }

    header{
        text-align:center;
        font-size: 40px;
        padding:1.5rem

    }

    h3{
        text-decoration:underline;
        font-size:25px;
    }

    .main-container{
        display:flex;
        justify-content:center;
    }


   .btn-container{
       display:flex;
       justify-content: center;
       margin:1rem;
   }

   .add-btn{
       margin:0.2rem;
       
   }
   .clear-btn{
       margin:0.2rem;
    
   
   }

    .budget-container{
        display:flex;
        justify-content: space-evenly;
        padding:0.5rem;
        height:100vh;
    
        
    }

    #operator{
       width:50px;
       
    
    }

    #description{
        width:200px;
        padding:0.2rem;
      
       
    }

    #value{
        width:200px;
        padding:0.2rem;
        
      
     
    }

    .income-container{
        height:100vh;
        border:dotted 2px black;
        flex-basis:30%; 
        text-align:center;
    }

    .expense-container{
        height:100vh;
        border:dotted 2px black;
        flex-basis:30%;
        text-align:center;
    }
    .totalbudget-container{
        height:100vh;
        border:dotted 2px black;
        flex-basis:30%;
        text-align:center;

    }
}
   
    

    


